body {
	padding-top: 70px;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
}
#googleMap {
	height: 590px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.panel-body {
	max-height: 250px;
	overflow-y: scroll;
}
.main-map {
	padding-right: 10px;
	padding-left: 10px;
}
.footer {
	margin-top: 20px;
	margin-bottom: 20px;
}
abbr {
	border-bottom: 1px dotted #CCC;
	cursor: help;
}